@import url('https://fonts.googleapis.com/css2?family=Onest&display=swap');

body {
  font-family: 'Onest', sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(79deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 43, 1) 44%, rgba(33, 0, 18, 1) 100%);
}

.page_title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 5px;
  text-align: center;
}

.light_blue {
  color: aliceblue;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  margin-top: 10vh;
}

.content_description {
  opacity: 0.9;
  margin-top: 10vh;
  margin-bottom: 1em;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form .form_input {
  margin-bottom: 1em;
  max-width: 600px;
  min-width: 300px;
  height: 36px;
  background: rgb(15,0,1);
  background: linear-gradient(95deg, rgba(15,0,1,1) 0%, rgba(0,1,17,1) 100%);
  outline: none;
  border: none;
  text-indent: 10px;
  font-size: 18px;
  border-radius: 5px;
}

.form .form_button {
  font-family: inherit;
  font-size: 16px;
  width: 200px;
  height: 36px;
  background: #001337;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-bottom: 1em;
}

.form .form_button:hover {
  cursor: pointer;
}

.download_link {
  cursor: pointer;
}

@media screen and (mx-width: 600px) {
  .content {
    margin-top: 15vh;
  }
}

.hr_separator {
  width: 80%;
  display: flex;
  align-items: center;
  border: 1px solid rgb(27, 25, 41)
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 3vh;
  padding-top: 5px;
}